/**
 *@name: footer component
 *@description: Footer's styling goes here.
 */

/** @description: testing app component */

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #53435A;

  p{
      color: $standard-white;
  }

}