/**
 *@name: functions
 *@description: Here's the right place to write the @mixins.
 */


// Global functions 

@mixin set-color($option){
    color: $option;
}

@mixin set-background-color($option){
    background-color: $option;
}

@mixin set-margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin set-height($value){
    height: $value;
}

@mixin set-height-line-height($value1, $value2){
    height: $value1;
    line-height: $value2;
}

@mixin set-display($option){
    display: $option;
}

@mixin set-cursor($option){
    cursor: $option;
}

// Head functions

@mixin header($position, $top, $width, $bgcolor){
    position: $position;
    top: $top;
    width: $width;
    background-color:$bgcolor;
}

@mixin header-image($float, $padding){
    float: $float;
    padding: $padding;
}

@mixin header-h3($padding, $color){
    padding-top: $padding;
    color: $color;
}

@mixin header-h4($padding, $color){
    padding-top: $padding;
    color: $color;
}

// Nav functions

@mixin li($set-cursor, $set-display, $set-color, $set-margin, $set-font: 1.1em){
    cursor: $set-cursor;
    display: $set-display;
    color: $set-color;
    margin:$set-margin;
    font-size: $set-font;
}