/**
 *@name: functions
 *@description: Here's the right place to write the @mixins.
 */

/** @description: testing app component */

// Global functions 

@mixin set-color($option){
    color: $option;
}

@mixin set-background-color($option){
    background-color: $option;
}

@mixin set-margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}


// Head functions

@mixin header($position, $top, $width, $bgcolor){
    position: $position;
    top: $top;
    width: $width;
    background-color:$bgcolor;
}

@mixin header-image($float, $padding){
    float: $float;
    padding: $padding;
}

@mixin header-h3($padding, $color){
    padding-top: $padding;
    color: $color;
}

@mixin header-h4($padding, $color){
    padding-top: $padding;
    color: $color;
}
