/**
 *@name: functions
 *@description: Here's the right place to write the @mixins.
 */

/** @description: testing app component */

// Global functions 

@mixin set-color($color){
    color: $color;
}


// Head functions

@mixin header($position, $top, $width, $bgcolor){
    position: $position;
    top: $top;
    width: $width;
    background-color:$bgcolor;
}

@mixin header-image($float, $padding){
    float: $float;
    padding: $padding;
}

@mixin header-h3($padding, $color){
    padding-top: $padding;
    color: $color;
}

@mixin header-h4($padding, $color){
    padding-top: $padding;
    color: $color;
}

// Nav functions

@mixin nav-margin($margin){
    margin-top: $margin;
}

