/**
 *@name: container component
 *@description: Footer's styling goes here.
 */


// imports

@import '../themes/sass/partials/colors';
@import '../themes/sass/modules/functions';

// styles goes here

section.stores {
    @include set-background-color($standard-fusion);
    min-height:700px;
    
    h2 {     
        @include set-color($dark-purle);
        text-align: left;
        padding: 1em 0 0 1em;
     
    }

    h5{
        @include set-color($dark-purle);
        padding-left: 2em;
        font-weight: 200;
    }
    
    section {
        
        ul {
            list-style-type: none;
            li {
                @include animate-stores(translateX(0px) skewY(0deg), 400ms ease-out);

                    h3 {
                        @include set-color($dark-purle);
                        font-size: 1.4em;
                        transform: translateX(0px) skewY(0deg);
                    }h3:hover{
                        @include set-color($standard-conga !important);
                        transition: 300ms ease-out;
                    }

                    h4 {
                        @include set-color($dark-purle);
                        font-size: 1em;
                        font-weight: 200;
                        transform: translateX(0px) skewY(0deg);
                    }h4:hover{
                        @include set-color($standard-conga !important);
                        transition: 300ms ease-out;
                    }

                }& li:hover{
                    @include set-background-color($standard-white);
                    @include set-color($standard-conga !important);
                    @include set-cursor(pointer);
                    @include animate-stores(translateX(15px) skewY(-3deg), 200ms ease-out);
                    padding-left: 1em;
                    
                }
           }       
      }
 }
