// imports

@import "../themes/sass/partials/colors";
@import "../themes/sass/modules/functions";
@import "store/store.component";

.col-sm-6 {
  float: left;
  margin-top: 2em;
}

.store .col-sm-6 {
  float: left;
}

form.stores {
  margin-left: 15px;
}

section.stores form .form-group label {
  font-weight: 200;
}

.store h4 {
  @include set-color($standard-conga);
  font-weight: 200;
  margin-left: 15px;
}

h4.defualt {
  @include set-color($dark-purle !important);
  font-weight: 200;
  margin-left: 0px !important;
}

.store ul {
  padding-left: 15px !important;
}
