<app-nav></app-nav>
<section class="container welcome">
  <section class="row">
    <h2 [@myAnimation]="getShow()">{{ storeHeader.title }}
    </h2>
    <h5>{{ getMessage }}</h5>
    <section class="stores store col-sm-6">
      <h4>Create a new Store</h4>
      <form name="form" class="material stores" (ngSubmit)="f.form.valid && createStore(store)" #f="ngForm" novalidate>
        <mat-form-field class="material-form-field" [ngClass]="{ 'has-error': f.submitted && !store_name.valid }">
          <mat-icon>store</mat-icon>
          <input matInput type="text" placeholder="store name" name="store_name" [(ngModel)]="model.store_name" #store_name="ngModel"
            required />
          <span *ngIf="f.submitted && !store_name.valid" class="help-block">Store Name is required</span>
        </mat-form-field>
        <mat-form-field class="material-form-field" [ngClass]="{ 'has-error': f.submitted && !store_phone.valid }">
           <mat-icon>phone</mat-icon>
          <input matInput type="number" placeholder="store phone number" name="store_phone" [(ngModel)]="model.store_phone" #store_phone="ngModel"
            required />
          <span *ngIf="f.submitted && !store_phone.valid" class="help-block">Store Phone is required</span>
        </mat-form-field>
        <mat-form-field class="material-form-field" [ngClass]="{ 'has-error': f.submitted && !store_country.valid }">
          <mat-icon>home</mat-icon>
          <input matInput type="text" placeholder="store country" name="store_country" [(ngModel)]="model.store_country" #store_country="ngModel"
            required />
          <span *ngIf="f.submitted && !store_country.valid" class="help-block">Store Country is required</span>
        </mat-form-field>
        <mat-form-field class="material-form-field" [ngClass]="{ 'has-error': f.submitted && !store_city.valid }">
          <mat-icon>location_city</mat-icon>
          <input matInput type="text" placeholder="store city" name="store_city" [(ngModel)]="model.store_city" #store_city="ngModel"
            required />
          <span *ngIf="f.submitted && !store_city.valid" class="help-block">Store City is required</span>
        </mat-form-field>
        <mat-form-field class="material-form-field" [ngClass]="{ 'has-error': f.submitted && !store_type.valid }">
          <mat-icon>store</mat-icon>
          <input matInput type="text" placeholder="store type" name="store_type" [(ngModel)]="model.store_type" #store_type="ngModel"
            required />
          <span *ngIf="f.submitted && !store_type.valid" class="help-block">Store Type is required</span>
        </mat-form-field>
        <mat-form-field class="material-form-field" [ngClass]="{ 'has-error': f.submitted && !store_address.valid }">
          <mat-icon>map</mat-icon>
          <input matInput type="text" placeholder="store address" name="store_address" [(ngModel)]="model.store_address" #store_address="ngModel"
            required />
          <span *ngIf="f.submitted && !store_address.valid" class="help-block">Store Address is required</span>
        </mat-form-field>
        <section class="form-group" [ngClass]="{ 'has-error': f.submitted && !store_file.valid }">
          <label for="store_file">Upload new photo</label>
          <input type="file" class="form-control" (change)="fileChange($event)" name="store_file" [(ngModel)]="model.store_file" #store_file="ngModel"
          />
        </section>
        <section class="form-group stores">
          <button mat-raised-button [disabled]="loading">Register</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
          <button [routerLink]="['/']" mat-raised-button color="warn">Cancel</button>
        </section>
        <span *ngIf="error" class="alert alert-danger">{{error}}</span>
      </form>
    </section>
    <section class="stores store col-sm-6" [@myAnimation]="getShow()">
      <h4>Stores Loaded</h4>
      <ul>
        <li *ngFor="let store of stores">
          <img src="{{store.store_path + store.store_file}}" alt="{{store.store_name}}" />
          <h3>{{store.store_name}}</h3>
          <h4 class="defualt">{{store.store_phone}}</h4>
          <h4 class="defualt">{{store.store_country}} | {{store.store_city}}</h4>
          <h4 class="defualt">{{store.store_address}}</h4>
          <a (click)="deleteStore(store._id)">Delete</a>
          <a routerLinkActive="active" [routerLink]="['/api/store', store._id]">Edit</a>
        </li>
      </ul>
    </section>
  </section>
</section>
<app-footer></app-footer>
