<app-nav></app-nav>
<section class="container welcome">
  <section class="row">
    <h2 [@myAnimation]="show">Loaded Stores</h2>
    <h5>{{message.welcome}}</h5>
    <section class="col-sm-4" [@myAnimation]="show">
      <ul>
        <li *ngFor="let store of stores.data">
          <h3>{{store.store_name}}</h3>
          <h4>{{store.store_phone}}</h4>
          <h4>{{store.store_country}} | {{store.store_city}}</h4>
          <h4>{{store.store_address}}</h4>
          <a (click)="deleteStore(store._id)">Delete</a>
          <a routerLinkActive="active" [routerLink]="['/api/store', store._id]">Edit</a>
        </li>
      </ul>
    </section>
  </section>
</section>
<app-footer></app-footer>