/**
 *@name: header component
 *@description: Header's styling goes here.
 */

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

header{
    @include header(fixed, 0, 100%, $dark-purle);
    figure{
        img{
            @include header-image(left, 1.45em);
        }
    }
    h2{ 
        @include header-h3(0.45em, $light-orange);
        width: 9.2em;
        font-size: 3em;
    }& 
    h4{
        @include header-h4(0.45em, $standard-fusion);
        width: 31.2em;
    }& 
    h5{
        @include set-color($standard-fusion);
        width: 32.7em;
        font-weight: 200;
    }
}

// username class

.username {
    h5 { top: 3em; }
    h6 { top: 5em; }
    h5, h6{
      position: fixed;
      right: 2em;
      color: $standard-fusion;
      width: 3em;
    }
}

