<app-nav></app-nav>
<section class="container welcome" [@myAnimation]="show">
  <section class="row" *ngIf="store">
    <h2 class="user-hero">{{store.data.store_name}} details!</h2>
    <section class="user col-md-6 col-md-offset-3" [@myAnimation]="show">
      <ul class="user-details">
        <li>
          <h3>{{store.data.store_country}} {{store.data.store_country}}</h3>
          <h4>id: {{store.data._id}}</h4>
          <h4>username: {{store.data.store_name}} </h4>
        </li>
      </ul>
    </section>
  </section>
</section>
<app-footer></app-footer>