<section class="container" id="container" [@myAnimation]="show">
  <section class="row">
    <h2 [@myAnimation]="show">Loaded Assets</h2>
    <section class="col-sm-4" [@myAnimation]="show">
      <ul>
        <li [@myAnimation]="show" *ngFor="let store of stores | async">
          <h3>{{ store.name }}</h3>
          <h4>{{ store.state }}</h4>
        </li>
      </ul>
    </section>
    <section class="col-sm-4" [@myAnimation]="show">
      <ul>
        <li [@myAnimation]="show" *ngFor="let store of stores | async">
          <h3>{{ store.name }}</h3>
          <h4>{{ store.state }}</h4>
        </li>
      </ul>
    </section>
  </section>
</section>