<app-nav></app-nav>
<section class="container stores" [@myAnimation]="show">
  <section class="row" *ngIf="user">
    <h2>{{user.data.username}} details!</h2>
    <section class="col-sm-4" [@myAnimation]="show">
      <ul>
        <li *ngFor="let user of users.msg">
          <h3>{{user.firstname}} {{user.lastname}}</h3>
          <h4>{{user._id}}</h4>   
        </li>
      </ul>
      <label>name: </label>
      <input [(ngModel)]="user.data.username" placeholder="{{user.data.username}}" />
      <button (click)="goBack()">Back</button>
    </section>
  </section>
</section>
<app-footer></app-footer>