<app-nav></app-nav>
<section class="container stores" [@myAnimation]="show">
  <section class="row" *ngIf="user">
    <h2 class="user-hero">{{user.data.username}} details!</h2>
    <section class="user col-md-6 col-md-offset-3" [@myAnimation]="show">
      <ul class="user-details">
        <li>
          <h3>{{user.data.firstname}} {{user.data.lastname}}</h3>
          <h4>id: {{user.data._id}}</h4>
          <h4>username: {{user.data.username}} </h4>
        </li>
      </ul>
      <form name="form" class="user" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
        <section class="form-group">
          <label for="email">email: </label>
          <input type="email" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" placeholder="{{user.data.email}}" />
        </section>
        <section class="form-group">
          <label for="firstname">first name: </label>
          <input type="text" name="firstname" class="form-control" [(ngModel)]="model.firstname" #firstname="ngModel" placeholder="{{user.data.firstname}}"
          />
        </section>
        <section class="form-group">
          <label for="lastname"> last name: </label>
          <input type="text" name="lastname" class="form-control" [(ngModel)]="model.lastname" #lastname="ngModel" placeholder="{{user.data.lastname}}"
          />
        </section>
        <section class="form-group">
          <label for="age">age: </label>
          <input type="number" name="age" class="form-control" [(ngModel)]="model.age" #age="ngModel" placeholder="{{user.data.age}}" /><br>
          <button [disabled]="loading" class="btn btn-primary">Save</button>
          <a [routerLink]="['/settings']"><span>Back</span></a>
        </section>  
        <span *ngIf="error" class="alert alert-danger">{{error}}</span>
      </form>
    </section>
  </section>
</section>
<app-footer></app-footer>