<app-nav></app-nav>
<section class="container welcome" [@myAnimation]="show">
  <section class="row" *ngIf="user">
    <section class="user col-md-6 col-md-offset-3" [@myAnimation]="show">
      <h2 class="user-hero">{{user.username}} user data</h2>
      <ul class="user-details">
        <li>
          <img src="{{user.path + user.file}}" alt="{{user.username}}" class=""/>
          <h3>{{user.firstname}} {{user.lastname}}</h3>
          <h4>id: {{user._id}}</h4>
          <h4>username: {{user.username}} </h4>
        </li>
      </ul>
      <form name="form" class="user" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
        <section class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="email">email: </label>
          <input type="email" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" placeholder="{{user.email}}"
            required/>
          <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </section>
        <section class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstname.valid }">
          <label for="firstname">first name: </label>
          <input type="text" name="firstname" class="form-control" [(ngModel)]="model.firstname" #firstname="ngModel" placeholder="{{user.firstname}}"
            required/>
          <div *ngIf="f.submitted && !firstname.valid" class="help-block">Firstname is required</div>
        </section>
        <section class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastname.valid }">
          <label for="lastname"> last name: </label>
          <input type="text" name="lastname" class="form-control" [(ngModel)]="model.lastname" #lastname="ngModel" placeholder="{{user.lastname}}"
            required/>
          <div *ngIf="f.submitted && !lastname.valid" class="help-block">Lastname is required</div>
        </section>
        <section class="form-group" [ngClass]="{ 'has-error': f.submitted && !age.valid }">
          <label for="age">age: </label>
          <input type="number" name="age" class="form-control" [(ngModel)]="model.age" #age="ngModel" placeholder="{{user.age}}"
            required/>
          <div *ngIf="f.submitted && !age.valid" class="help-block">Age is required</div>
        </section>
        <section class="form-group">
          <button type="submit" [disabled]="loading" class="btn btn-primary">Save</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
          />
          <a [routerLink]="['/settings']" class="btn btn-link"><span>Cancel</span></a>
        </section>
        <span *ngIf="error" class="alert alert-danger">{{error}}</span>
      </form>
    </section>
  </section>
</section>
<app-footer></app-footer>