/**
 *@name: settings.component
 *@description: Sass file for home app component settings.
 */

/** @description: settings app component */


// imports

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

// styles goes here

.user-hero {
     padding: 1em 0 1em 0  !important;
     text-align: center !important;
}

.user-details {
    padding: 0 !important;
}

 section.user.col-md-6.col-md-offset-3 {

     @include set-background-color($standard-fusion !important);

     ul {
        
         li {
            
            h4:nth-last-of-type(1) {
               @include set-color($dark-purle);
               padding-bottom: 1em;
            }& h4{
                @include set-color($dark-purle);
            }
         }
     }

 form.user{

     @include set-background-color($standard-fusion !important);

    clear:both;

         section{

            label{
                @include set-color($standard-fusion);
                font-weight: 300;
            }

        }

    section.form-group{

        label{
            @include set-color($dark-purle !important);
        }

         button{

            @include set-background-color($light-orange !important); 
            @include button-settings-state($light-orange !important, 300ms ease-out);

        }button:hover{

            @include set-background-color($standard-conga !important);
            @include button-settings-state($standard-conga !important, 300ms ease-out);

        }
        a{
            text-decoration: none;
            span{
                @include set-color($light-orange);
                @include span-text-state(1em, pointer, 300ms ease-out, none);

            }span:hover{

                @include set-background-color(transparent !important);
                @include set-color($standard-conga);
                @include span-text-state(1em, pointer, 300ms ease-out, underline);
                              
            }             
         }                  
     }
 }

 }