/**
 *@name: login.component
 *@description: Sass file for home app component settings.
 */

/** @description: login app component */


// imports

@import '../themes/sass/partials/colors';
@import '../themes/sass/modules/functions';

// styles goes here

html{
    @include set-background-color($dark-purle);
    body{
        section.col-md-6.col-md-offset-3 {
          @include set-background-color($dark-purle);
            figure{
                img{
                    padding:3em 0 0 0;
                    float: left;
                }
            }
            h2{
                @include set-color($light-orange);
                float: left;
                font-size: 3em;
                padding: 2em 0.1em 0;
            }
            h4{
                @include set-color($standard-fusion);
                float: left;
                padding-top: 0.45em;
                width: 100%;
            }
            form{
                clear:both;
                section{
                    label{
                        @include set-color($standard-fusion);
                        font-weight: 300;
                       }
                    }
                    section.form-group{
                        button{
                           @include set-background-color($light-orange); 
                           border-color: $light-orange;
                           transition: 300ms ease-out;
                        }button:hover{
                           @include set-background-color($standard-conga !important);
                           border-color: $standard-conga !important;
                           transition: 300ms ease-in;
                        }
                        a{
                            span{
                               @include set-color($standard-fusion);
                               margin-left: 1em;
                            }span:hover{
                               @include set-background-color(transparent !important);
                               @include set-color($light-orange);
                           }            
                        }                  
                    }
                }
            }
        }
    }

