/**
 *@name: login.component
 *@description: Sass file for home app component settings.
 */

/** @description: login app component */


// imports

@import '../themes/sass/partials/colors';
@import '../themes/sass/modules/functions';

// styles goes here

html{
    background-color: $dark-purle;
    body{
        section.col-md-6.col-md-offset-3 {
          background-color: $dark-purle !important;
            figure{
                padding-top:3em;
                float: left;
            }
            h2{
                color: $light-orange;
                float: left;
                font-size: 3em;
                padding-top: 2em;
            }
            form{
                clear:both;
                section{
                    label{
                        color: $standard-fusion;
                        font-weight: 300;
                       }
                    }
                    section.form-group{
                        button{
                           background-color:$light-orange;
                           border-color: $light-orange;
                        }
                        a{
                            span{
                               margin-left: 1em;
                            }
                        }
                       
                    }
                }
            }
        }
    }

