/**
 *@name: functions
 *@description: Here's the right place to write the @mixins.
 */


// Global functions 

@mixin set-color($option){
    color: $option;
}

@mixin set-background-color($option){
    background-color: $option;
}

@mixin set-margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin set-height($value){
    height: $value;
}

@mixin set-height-line-height($value1, $value2){
    height: $value1;
    line-height: $value2;
}

@mixin set-display($option){
    display: $option;
}

@mixin set-cursor($option){
    cursor: $option;
}

// Head functions

@mixin header($width, $bg-color){
    width: $width;
    background-color:$bg-color;
}

@mixin header-image($float, $padding){
    float: $float;
    padding: $padding;
}

@mixin header-h3($padding, $color){
    padding-top: $padding;
    color: $color;
}

@mixin header-h4($padding, $color){
    padding-top: $padding;
    color: $color;
}

// Nav functions

@mixin nav-borders($border-radius: 0px !important, $border: 0px !important){
    border-radius: $border-radius;
    border: $border;
}

@mixin li($set-cursor, $set-display, $set-color, $set-margin, $set-font: 1.1em){
    cursor: $set-cursor;
    display: $set-display;
    color: $set-color;
    margin:$set-margin;
    font-size: $set-font;
}

// Container functions

@mixin animate-stores($transform, $transition){
    transform: $transform;
    transition: $transition;
}

// Footer functions

@mixin footer($position, $bottom, $width, $text-align, $bg-color: $dark-purle){
    position: $position;
    bottom: $bottom;
    width: $width;
    text-align: $text-align;
    background-color: $bg-color;
}

@mixin footer-p($value, $color: $standard-white){
    color: $color;
    margin: $value;
}

// login functions

@mixin image-settings($padding: 3em 0 0 0, $float: left){
    padding: $padding;
    float: $float;

}

@mixin h2-header-settings($float: left, $font-size: 3em, $padding: 2em 0.1em 0){
    float: $float;
    font-size: $font-size;
    padding: $padding;

}

@mixin h4-header-settings($float: left, $padding-top: 0.45em, $width: 100%){
    float: $float;
    padding-top: $padding-top;
    width: $width;

}

@mixin button-settings-state($border-color, $transition){
    border-color: $border-color;
    transition: $transition;

}

@mixin span-text-state($margin-left, $cursor, $transition, $text-decoration){
    margin-left: $margin-left;
    cursor: $cursor;
    transition: $transition;
    text-decoration: $text-decoration;
}

// register functions

@mixin set-user-glyphicon($padding: 0em, $float: left){
    padding: $padding;
    float: $float;
}