<app-nav></app-nav>
<section class="container stores" [@myAnimation]="show">
  <section class="row">
    <h2 [@myAnimation]="show">Loaded Users</h2>
    <h5>{{message.msg}}</h5>
    <section class="col-sm-4" [@myAnimation]="show">
      <ul>
        <li *ngFor="let user of users.msg">    
          <h3>{{user.firstname}} {{user.lastname}}</h3>
          <h4>{{user._id}}</h4>
          <a (click)="deleteUser(user._id)">Delete</a>
        </li>
      </ul>
    </section>
  </section>
</section>
<app-footer></app-footer>