/**
 *@name: container component
 *@description: Footer's styling goes here.
 */


// imports

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

// styles goes here

section#container {
    background-color: $standard-fusion;
    width: 20em;
    @include container-settings();
    h1 {     
         @include container-side-bar();
    }
    section {
        @include container-store();
        ul {
            margin-top: 18em;
            list-style-type: none;
            li {
                transition: 400ms ease-out;
                transform: translateX(0px) skewY(0deg);

                    h3 {
                        color: $dark-purle;
                        font-size: 1.4em;
                        transform: translateX(0px) skewY(0deg);
                    }

                    h4 {
                        font-size: 1em;
                        transform: translateX(0px) skewY(0deg);
                    }

                }:hover{
                    transition: 200ms ease-in;
                    transform: translateX(15px) skewY(-3deg);
                    background-color: $standard-white;
                    color: $standard-conga !important;
                    cursor: pointer;
                    
                }
          }       
      }
 }
