/**
 *@name: container component
 *@description: Footer's styling goes here.
 */


// imports

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

// styles goes here

section#container {
    background-color:  $standard-fusion;
    width:20em;
    @include container-settings();
    h1 {     
         @include container-side-bar();
    }
    section {
        @include container-store();
        ul {
            margin-top: 18em;
            list-style-type: none;
            li {
                    h3 {
                        color: $dark-purle !important;
                        font-size: 1.4em;
                    }

                    h4 {
                        font-size: 1em;
                    }
                }
          }       
      }
 }
