/**
 *@name: header component
 *@description: Header's styling goes here.
 */

@import '../../themes/sass/partials/colors';

header{
    position: fixed;
    width: 100%;
    background-color: $dark-blue;
    h2{
        color: $standard-white;
        text-align:center;
    }& h1{
        color: $standard-white;
        text-align:center;
    }
}
