/**
 *@name: header component
 *@description: Header's styling goes here.
 */

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

header{
    @include header(fixed, 0, 100%, $dark-blue);
    figure{
        img{
            @include header-image(left, 0.75em);
        }
    }
    h3{ 
        padding-top: 0.75em;
        color: $standard-white;
    }& 
    h4{
        padding-top: 1em;
        color: $standard-white;
        
    }& h5{
        color: $standard-white;
    }
}
