/**
 *@name: container component
 *@description: Footer's styling goes here.
 */


// imports

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

// styles goes here

section#container{
    background-color:#FD775E;
    width:20em;
    @include container-settings();
    h1{

        position: fixed;
        color: $standard-fusion;
        width: 5em;
        background: #FD775E;
        z-index: 9;
        top: 31.5vh;
        height: 100px;
        line-height: 100px;

    

    }
    section{
        @include container-store();
        ul{

            margin-top: 3em;
            li{
                    h3{
                        color: #FFFFFF !important;

                    }
                }
          }       
      }
 }
