/**
 *@name: container component
 *@description: Footer's styling goes here.
 */


// imports

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

// styles goes here

section#container{
    @include container-settings();
    section{
        @include container-store();
        figure{
           margin: 0;
           float: left;
        }
        header{
            float: right;
        }
        footer{
            clear: both;
        }

    }
}