/**
 *@name: nav component
 *@description: Nav's styling goes here.
 */

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

nav {
  
    @include set-background-color($light-orange);
    
    border-radius: 0px !important;
    border: none !important;


    .navbar-brand{
      color: $standard-fusion !important;
      
    }

    .navbar-toggle {
      border: none !important;

    }

    .navbar-toggle:hover {
      background-color: $dark-purle !important;
      border: none !important;
      
    }

   
    ul{

      }li{
        a{
           color: $standard-fusion !important;
        }

      }
   }
