/**
 *@name: nav component
 *@description: Nav's styling goes here.
 */

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

nav {
  
    @include set-background-color($light-orange);
    
    border-radius: 0px !important;
    border: none !important;


    .navbar-brand{
      color: $standard-fusion !important;
      
    }
   
    ul{

      }li{
        a{
           color: $standard-fusion !important;
        }

      }
   }

