// imports

@import '../../themes/sass/partials/colors';
@import '../../themes/sass/modules/functions';

nav {
  
    @include set-background-color($light-orange);
    @include nav-borders();

    .navbar-brand{
      @include set-color($standard-fusion !important);
      
    }

    .navbar-toggle {
      @include nav-borders();

    }

    .navbar-toggle:hover {
      @include set-background-color($dark-purle !important);
      @include nav-borders();
      
    }:visited { 
      @include set-background-color($dark-purle !important);

    }:focus {
     @include set-background-color($dark-purle !important);

    }
   
    ul{

      li{
        @include set-cursor(pointer);
        transition:250ms ease-in;

        a{
          @include set-color($standard-fusion !important);

        }   

      }:hover{
        @include set-background-color($dark-purle !important);
        transition:250ms ease-in;

      }:visited{
        @include set-background-color($dark-purle !important);
        transition:250ms ease-in;
      }

    }

  }

.navbar-inverse .navbar-collapse {
      border-color: $standard-fusion !important;
    }
    