/**
 * @name: main.scss
 * @description: General and defualt rules should be placed here.
 */

 @import './colors';

 /* scroll settings */
::-webkit-scrollbar {
    width: 8px;
}
 
/* track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $box-shadow-light; 
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: $standard-fusion;
}
 
/* handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: $light-orange; 
    box-shadow: inset 0 0 6px  $box-shadow-default; 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: $light-orange; 
}
