/**
 * @name: _material.scss
 * @description: all Google/Angular material settings goes here.
 */

 .mat-icon {
    position: absolute;
    right: 0;
    top: -2px;
    color: rgb(117, 117, 117);
  }
  