/**
 *@name: colors
 *@description: Color's palette should be written here and got imported.
 */

//  Adding the palette - Stores Primary Palette - Cloudbricks Branding

 $dark-purle: #53435A;
 $standard-conga: #FD775E;
 $standard-white: #FFFFFF;
 $standard-fusion: #F4F2F4;
 $light-orange: #FD9D40;
