// imports

@import '../themes/sass/partials/colors';
@import '../themes/sass/modules/functions';

// styles goes here

html{

    body{

        section{
        
           section.col-md-6.col-md-offset-3 {

              header.register{

                 h1{

                   span{
                        
                        @include set-color($standard-fusion !important);
                        @include set-user-glyphicon();
    
                      }
                  }

                  h2 {

                      float:none;
                      padding: 0em 1.4em 0.75em;
                      line-height: 0.90em;
                      
                  }
              }
          }
       }
    }
}

section.register {
    section.col-md-6.col-md-offset-3 {
        form {
            section {
                label {
                  @include set-color($standard-fusion !important);
                  font-weight: 200;
                }
            }
        } 
    }
}


@media screen and (max-width: 62em) {
    section.col-md-6.col-md-offset-3{

        float:left;
        width: 100%;

    }
}