/**
 *@name: colors
 *@description: Color's palette should be written here and got imported.
 */

//  Adding the palette - Stores Primary Palette

 $blue-standard: #04AFF4;
 $red-light-standard: #E05151;
 $yellow-standard: #FFD452;
 $dark-standard: #333333;
 $red-dark-standard: #D9411E;

