/**
 *@name: colors
 *@description: Color's palette should be written here and got imported.
 */

//  Adding the palette - Stores Primary Palette - Cloudbricks Branding

 $dark-blue: #2C3E50;
 $standard-red: #E74C3C;
 $standard-white: #ECF0F1;
 $light-blue: #3498DB;
 $standard-blue: #2980B9;

